<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Dev Page Viewer</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
	</head>
	<body>
        <div class="container">
            <%= yield %>
        </div>
	</body>
</html>
